.btn {
  width: 155px;
  height: 48px;
  font-weight: 600;
  border: 0;
  border-radius: var(--mainBorderRadius);
  transition: var(--mainTransition);
  cursor: pointer;
}

@media all and (max-width: 320px) {
  .btn {
    width: 120px;
  }
}

.btn-primary {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  box-shadow: var(--lightShadow);
}

.btn-primary > img {
  width: 16px;
  margin-left: 0.5rem;
}

.btn-primary:hover {
  background-color: var(--primaryColor50);
  color: var(--primaryColor);
  border: solid 1px var(--primaryColor);
  transform: scale(1.1);
}

.btn-primary:hover > img {
  opacity: 0;
}

.btn-primary50 {
  background-color: var(--primaryColor50);
  color: var(--primaryColor);
  margin-right: 1.2rem;
}

.btn-primary50:hover {
  border: solid 1.5px var(--primaryColor);
  transform: scale(1.1);
}
