/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--monserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--mainBackground);
  color: var(--mainGrey);
  font-weight: 500;
  line-height: var(--mainLineHeigth);
  letter-spacing: var(--mainSpacing);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}

img {
  width: 100%;
  display: block;
}

input {
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid var(--lightGrey);
  border-left: 0;
  height: 2.5rem;
  margin-bottom: var(--formMarginBottom);
  width: 14rem;
}

label {
  display: block;
  color: var(--lightGrey);
}

/*Text*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--monserratAlt);
  color: var(--mainBlack);
  letter-spacing: var(--desktopSpacing);
}

h1 {
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin: var(--titleMargin);
}

h2 {
  font-size: 1.1rem;
  margin: var(--title2Margin);
}

.inner-container p {
  font-size: 14px;
}

h1,
h2 {
  text-align: center;
}

article > p {
  display: none;
}

@media all and (min-width: 800px) {
  h1,
  h2 {
    text-align: left;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: var(--titleMobileMargin);
  }

  h2 {
    font-size: 1.3rem;
    margin: var(--titleMobileMargin);
  }

  article > p {
    display: block;
  }

  .inner-container p {
    font-size: 16px;
  }
}

@media all and (min-width: 1440px) {
  h1 {
    margin: var(--titleDesktopMargin);
    margin: var(--title2Margin);
  }
  article > p {
    padding-right: 90px;
  }
}
/*Text end*/

/*Link*/
.link {
  display: flex;
  width: auto;
  color: var(--mainBlue);
  font-weight: 600;
  cursor: pointer;
}

.link .arrow-container {
  display: flex;
  align-items: center;
  margin: 0 0.3rem;
}

.link .arrow-container img {
  width: 1rem;
  height: 0.9rem;
}

section .link {
  margin-top: 1vh;
}

.arrow-container.to-page {
  margin: 0 0.4rem 0 0;
}
/*Link end*/

/*Logo*/
.logo {
  display: flex;
  align-content: center;
  background-color: var(--mainBlue);
  width: 100%;
}

.logo img {
  width: 250px;
}

.logo-mobile {
  justify-content: center;
  height: 8vh;
}

.logo-desktop {
  height: var(--headerHeigth);
}

@media all and (min-width: 800px) {
  .logo-mobile {
    justify-content: left;
    height: 10vh;
    padding: var(--innerPadding);
  }
}

@media all and (min-width: 992px) {
  .logo-mobile {
    display: none;
  }
}
/*Logo end*/

/*Containers*/
.outer-container {
  position: relative;
  background-color: var(--mainBackground);
  height: 100vh;
  max-height: var(--maxHeight);
  width: var(--outerWith);
  margin: 0 auto;
}

.inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--innerWidth);
}

@media all and (min-width: 992px) {
  .outer-container {
    display: flex;
  }
}

section {
  background-color: yellow;
  padding: var(--innerPadding);
}

/*Container end*/
