* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainBackground);
}

/*Main containers*/
.onboarding-outerbox {
  position: relative;
  width: var(--outerWith);
  height: var(--outerHeight);
  max-width: var(--outerMaxWidth);
  margin: 0 auto;
}

.onboarding-innerbox {
  background-color: var(--mainWhite);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--innerHeight);
  padding: var(--innerPadding);
}

@media all and (min-width: 992px) and (min-height: 650px) {
  .onboarding-outerbox {
    display: grid;
    grid-template-columns: var(--outerColLeft) auto;
  }
}
/*Container end*/

.onboarding-outerbox ul {
  list-style-type: none;
}

.onboarding-outerbox a {
  text-decoration: none;
}

.onboarding-outerbox img {
  width: 100%;
}

.onboarding-outerbox input {
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid var(--lightGrey);
  border-left: 0;
  height: 2.5rem;
  margin: var(--inputMargin);
  width: 100%;
  font-size: 21px;
  font-weight: 600;
}
.onboarding-outerbox input::placeholder {
  color: var(--mainBlack);
}

.onboarding-outerbox label {
  display: block;
  color: var(--lightGrey);
}
