* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainWhite);
  min-width: max-content;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/*XS*/
@media all and (min-width: 360px) {
  body {
    min-width: initial;
  }
}

/*LG*/
@media all and (min-width: 1200px) {
  body {
    background-color: var(--mainBackground);
  }
}

/*XL larger screens*/
@media all and (min-width: 1440px) {
  body {
    width: 100%;
  }
}

/*Main containers*/
.onboarding-outerbox {
  position: relative;
  width: var(--outerWith);
  height: var(--outerHeight);
  max-width: var(--outerMaxWidth);
  margin: 0 auto;
  font-family: var(--monserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--mainGrey);
  font-size: var(--mainTextSize);
  font-weight: 500;
  line-height: var(--mainLineHeight);
  letter-spacing: var(--mainSpacing);
}

.onboarding-innerbox {
  background-color: var(--mainWhite);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--innerHeight);
  min-height: var(--innerMinHeight);
  padding: var(--innerPadding);
}

.onboarding-innerbox section {
  height: var(--sectionHeight);
  min-height: var(--sectionMinHeight);
  margin: var(--sectionMargin);
}

/*MD - Main containers*/
@media all and (min-width: 992px) and (min-height: 800px) and (orientation: portrait) {
  .onboarding-outerbox {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: var(--outerColLeft) auto;
  }
}

/*LG - Main containers*/
@media all and (min-width: 1200px) {
  .onboarding-outerbox {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: var(--outerColLeft) auto;
  }
}
/*Main containers end*/

/*Text - default style*/
.onboarding-outerbox h1,
h2 {
  font-family: var(--monserratAlt);
  color: var(--mainBlack);
  text-align: center;
}

.onboarding-outerbox h1 {
  font-size: var(--mainTitleSize);
  line-height: var(--mainTitleLineHeight);
  font-weight: var(--mainTitleWeight);
  margin: 0 0 1.5rem;
}

.onboarding-outerbox h2 {
  font-size: var(--title2Size);
  line-height: var(--title2LineHeight);
  font-weight: var(--title2Weight);
  margin: 2.5rem 0 1.5rem;
}

/*XS - smartphones landscape*/
@media all and (min-width: 640px) {
  .onboarding-innerbox h1 {
    text-align: left;
    margin: 0 0 0.5rem;
  }
  .onboarding-innerbox h2 {
    text-align: left;
    margin: 1rem 0 0.5rem;
  }
}
/*LG - large tablet landscape*/
@media all and (min-width: 1200px) {
  .onboarding-innerbox h1 {
    margin: 0 0 0.6rem;
  }
  .onboarding-innerbox h2 {
    margin: 1rem 0 0.6rem;
  }
}

/*XL larger screens*/
@media all and (min-width: 1440px) and (min-height: 900px) {
  .onboarding-innerbox h1 {
    margin: 0 0 1rem;
  }
  .onboarding-innerbox h2 {
    margin: 2.5rem 0 1.7rem;
  }
}

/*Text - default style - end*/

/*Tag default style*/
.onboarding-outerbox ul {
  list-style-type: none;
}

.onboarding-outerbox a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  outline: 0;
}
/*Tag default style end*/

/*Form - default style*/
.onboarding-outerbox input[type='text'],
.onboarding-outerbox input[type='number'] {
  border: none;
  width: 100%;
  font-family: var(--monserrat);
  font-size: var(--mainTextInputSize);
  font-weight: var(--mainTextInputWeight);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.onboarding-outerbox input::placeholder {
  text-decoration: none;
  color: var(--mainBlack);
}

.onboarding-outerbox input[type='radio'] {
  color: var(--lightGrey);
}

.onboarding-outerbox label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

::-moz-placeholder {
  opacity: 1;
}

.onboarding-outerbox select {
  background-color: var(--mainWhite);
  border: none;
}
/*Form - default style - end*/
/*Tag default style - end*/

/*Debouncer*/
.debouncer {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.show-debouncer {
  visibility: visible;
  opacity: 1;
  z-index: 3;
}
/*Debouncer - end*/
