.error-message-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  background-color: var(--mainBgModal);
  visibility: hidden;
  opacity: 0;
  transition: var(--mainTransition);
}

.show-error-message {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.error-message-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 1rem 2rem;
  background-color: var(--mainWhite);
  border-radius: var(--mainBorderRadius);
  box-shadow: 0px 10px 40px #41434450;
  transition: var(--mainTransition);
  color: red;
  font-family: var(--monserrat);
  text-align: justify;
  margin: 0 1% 22% 0;
  transform: translateX(105%);
}

.show-error-message-container {
  transform: translateX(0);
}

.error-message-container button {
  align-self: flex-end;
  border: none;
  font-size: 1.2rem;
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.4rem 0 0;
  background-color: var(--primaryColor50);
  border-radius: var(--mainBorderRadius);
  cursor: pointer;
}

.error-message-container button svg {
  color: #f00;
}

.error-message_text-container {
  position: relative;
  align-self: center;
  background-color: var(--primaryColor50);
  border-radius: var(--mainBorderRadius);
  width: 100%;
  padding: 3%;
  margin: 4% 0 0;
}
