footer {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  margin-bottom: 1%;
  min-width: max-content;
}

.link-to-page {
  display: flex;
  width: auto;
  font-weight: 600;
  cursor: pointer;
}

.link-to-page .arrow-container {
  display: flex;
  align-items: center;
  margin: 0.3rem 0.4rem 0 0;
}

.link-to-page > p {
  color: var(--primaryColor);
}

.btn {
  width: 145px;
  height: 48px;
  font-weight: 600;
  border: 0;
  border-radius: var(--mainBorderRadius);
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  box-shadow: var(--lightShadow);
}

.btn-primary.finish-button {
  width: 100px;
  height: 48px;
}

.btn-primary .arrow-button {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 9px;
  background-image: url('../images/arrow_right_w.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.btn-primary:hover {
  background-color: var(--primaryColor50);
  color: var(--primaryColor);
  border: solid 1px var(--primaryColor);
  transform: scale(1.05);
}

.btn-primary50 {
  background-color: var(--primaryColor50);
  color: var(--primaryColor);
  margin-right: 15px;
}

.btn-primary50:hover {
  border: solid 1.5px var(--primaryColor);
  transform: scale(1.05);
}

.btn-container-none {
  display: none;
}

footer a {
  grid-row: 2/3;
  grid-column: 1;
  margin: 3% 0;
  justify-self: center;
}

/*XS - Smartphones landscape*/
@media all and (min-width: 480px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer a {
    margin: 3% 0;
  }
}

/*MD – large tablet port. and medium tablet land.*/
@media all and (min-width: 992px) and (min-height: 800px) and (orientation: portrait) {
  footer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    margin: 0 auto 1%;
    min-width: max-content;
  }
  .btn {
    width: 155px;
    height: 48px;
    font-weight: 600;
  }
  footer p {
    font-size: 16px;
  }
  footer a {
    margin: 5% 0 0;
  }
}

/*LG*/
@media all and (min-width: 1200px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: unset;
  }
  footer > a {
    order: 0;
    margin: 0;
  }
}

/*XL*/
@media all and (min-width: 1440px) {
  footer {
    height: var(--footerHeight);
  }
}
