header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--headerHeigth);
  padding: var(--mobilePadding);
  background-color: green;
}

header .text-container {
  display: flex;
  justify-content: space-between;
  background-color: honeydew;
}

.header__step {
  text-transform: uppercase;
  font-weight: 600;
}

.header__help-container {
  background-color: rgb(230, 229, 173);
  display: flex;
  justify-content: space-between;
  width: 16.5rem;
}

.header__help {
  display: flex;
  justify-content: space-between;
  width: 90px;
  color: var(--mainBlue);
  font-weight: 600;
  cursor: pointer;
}

.header__help svg {
  padding-top: 5%;
  font-size: 20px;
}
