header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: max-content;
}

.header__step {
  text-transform: uppercase;
  font-weight: 600;
}

.header__help-container {
  display: flex;
}

.header__help-container > p {
  margin-right: 8px;
}

/*START*/
@media all and (min-width: 360px) {
  header {
    width: auto;
  }
}

/*MD*/
@media all and (min-width: 992px) and (min-height: 800px) {
  header {
    flex-direction: row;
  }
}
