header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--headerHeigth);
  padding: var(--mobilePadding);
  background-color: green;
}

.header__step {
  text-transform: uppercase;
  font-weight: 600;
}

.header__help-container {
  display: flex;
}

.header__help-container .link {
  margin-left: 8px;
}
