.logo {
  display: flex;
  align-content: center;
  background-color: var(--primaryColor);
}

.logo img {
  width: 250px;
}

.logo-mobile {
  justify-content: center;
  height: var(--logoMobileHeight);
}

/*MD*/
@media all and (min-width: 992px) and (min-height: 800px) {
  .logo-mobile {
    display: none;
  }
}
/*LG*/
@media all and (min-width: 1200px) {
  .logo-mobile {
    display: none;
  }
}
