.narrow-modal-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  background-color: var(--mainBgModal);
  visibility: hidden;
  opacity: 0;
  transition: var(--mainTransition);
}

.show-narrow-modal {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.narrow-modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 340px;
  padding: 1rem;
  background-color: var(--mainWhite);
  border-radius: var(--mainBorderRadius);
  box-shadow: 0px 10px 40px #41434450;
  transition: var(--mainTransition);
  font-family: var(--monserrat);
  text-align: justify;
  margin: 0 1% 22% 0;
  transform: translateX(105%);
}

.show-narrow-modal-container {
  transform: translateX(0);
}

.narrow-modal-danger {
  color: red;
}

.narrow-modal-success {
  color: var(--primaryColor);
}

.narrow-modal-container button {
  align-self: flex-end;
  border: none;
  font-size: 1.2rem;
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.4rem 0 0;
  background-color: var(--primaryColor50);
  border-radius: var(--mainBorderRadius);
  cursor: pointer;
}

.narrow-modal_text-container {
  position: relative;
  align-self: center;
  background-color: var(--primaryColor50);
  border-radius: var(--mainBorderRadius);
  width: 100%;
  padding: 3%;
  margin: 4% 0 0;
}

@media all and (min-width: 1600px) {
  .narrow-modal-container {
    margin: 0 15% 22% 0;
  }
}

@media all and (min-width: 1920px) {
  .narrow-modal-container {
    margin: 0 20% 25% 0;
  }
}

@media all and (min-width: 2840px) {
  .narrow-modal-container {
    margin: 0 35% 35% 0;
  }
}
