.planning-text {
  display: none;
}

/*Form-plans*/
#form-plans .form-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 100%;
  max-width: 340px;
  margin: 0 auto;
}

#form-plans .from-box select,
#form-plans .to-box select {
  appearance: none;
  border-bottom: solid 2px var(--lightGrey);
  margin: 0 auto 1%;
  width: 100%;
  font-family: var(--monserrat);
  font-size: 21px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

#form-plans .from-box {
  grid-row: 1 / 2;
}

#form-plans .to-box {
  grid-row: 2 / 3;
}

.form-plans-error {
  color: red;
}
/*Form-plans end*/

/*Form-investor*/
#form-investor .form-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 295px;
  margin: 0 auto;
}

#form-investor .radio-investor-box {
  display: flex;
  align-items: center;
  width: 136px;
  height: 48px;
  border: 2px solid var(--lightGrey);
  border-radius: var(--mainBorderRadius);
  padding-left: 1.2rem;
}

#form-investor .radio-investor-box input {
  width: 20px;
  height: 20px;
  margin-right: 1.2rem;
}

#form-investor .radio-investor-box label {
  color: var(--mainBlack);
  font-weight: 600;
}

#form-investor .radio-investor-box.selected {
  background-color: var(--offWhite);
  border: 2px solid var(--primaryColor);
  font-weight: 700;
}

#form-investor .radio-investor-box label.selected {
  color: var(--primaryColor);
}
/*Form-investor end*/

/*XS - smartphones landscape*/
@media all and (min-width: 640px) {
  .planning-text {
    display: block;
  }
  .plans h2 {
    font-size: var(--title2Size);
    font-weight: var(--title2Weight);
  }
  #form-plans {
    margin-bottom: 2.7rem;
  }
  #form-plans .form-container {
    grid-template-columns: 271px 271px;
    grid-row-gap: 20px;
    grid-column-gap: 45px;
    max-width: unset;
    margin: 0;
  }
  #form-plans .from-box {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  #form-plans .to-box {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  #form-investor .form-container {
    margin: 0;
  }
}

/*MD – large tablet port. and medium tablet land.*/
@media all and (min-width: 992px) and (min-height: 800px) and (orientation: portrait) {
  #form-plans .form-container {
    grid-template-columns: 230px 230px;
    grid-column-gap: 20px;
    width: 500px;
  }
}

/*XL larger screens*/
@media all and (min-width: 1440px) and (min-height: 900px) {
  #form-plans .form-container {
    margin: 40px 0 0;
  }
  #form-investor .form-container {
    margin: 30px 0 0;
  }
}
