aside {
  display: none;
  background: var(--primaryColor);
  padding: var(--sidebarPadding);
  height: var(--sidebarHeight);
}

.progress-container {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--monserratAlt);
  color: var(--mainWhite50);
  font-size: 18px;
  font-weight: 700;
  margin: var(--progressMargin);
}

.square-text-container {
  display: flex;
}

.outer-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 3px solid var(--mainWhite50);
  border-radius: var(--mainBorderRadius);
}

.inner-square {
  position: relative;
  display: none;
  background-color: var(--mainWhite);
  width: 11.2px;
  height: 11.2px;
}

.square-text-container > p {
  margin-left: 14px;
}

.rectangle {
  position: relative;
  width: 4px;
  height: 9px;
  background-color: var(--mainWhite50);
  border-radius: 1px;
  margin-left: 12px;
}

.rectangle:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 8px;
}

.rectangle:nth-child(3) {
  margin-bottom: 12px;
}

.outer-active {
  border: 3px solid var(--mainWhite);
}

.inner-active {
  display: block;
}

.text-active {
  color: var(--offWhite);
}

.quote-container {
  position: relative;
  width: 368px;
  height: 240px;
  background-color: var(--mainWhite);
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--darkShadow);
  padding: 48px 40px 10px;
  font-style: italic;
}

.quote-icon {
  position: absolute;
  z-index: 1;
  background-color: var(--mainWhite);
  width: 56px;
  height: 56px;
  box-shadow: 16px 12px 56px rgba(11, 29, 46, 0.15);
  border-radius: 3px;
  left: -17px;
  top: -24px;
  background-image: url(../images/quote-icon.svg);
  background-size: 25px 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-icon {
  position: absolute;
  z-index: 1;
  width: 41px;
  height: 24px;
  background-image: url(../images/logo-icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  right: 40px;
  bottom: 30px;
}

p.author {
  font-family: var(--monserratAlt);
  color: var(--darkBlack);
  font-weight: 600;
  font-style: normal;
  margin-top: 20px;
}

p.author + p {
  font-style: normal;
}

/*Sidebar, but NOT for smartphone in landscape:*/
@media all and (min-width: 992px) and (min-height: 650px) {
  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
