aside {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: var(--primaryColor);
  padding: var(--sidebarPadding);
}

.quote-container {
  position: relative;
  display: none;
  width: 368px;
  height: 240px;
  background-color: var(--mainWhite);
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--darkShadow);
  padding: 48px 36px 30px;
  font-style: italic;
}

.quote-icon {
  position: absolute;
  z-index: 1;
  background-color: var(--mainWhite);
  width: 56px;
  height: 56px;
  box-shadow: 16px 12px 56px rgba(11, 29, 46, 0.15);
  border-radius: 3px;
  left: -17px;
  top: -24px;
  background-image: url(../images/quote-icon.svg);
  background-size: 25px 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.quote-visible {
  display: block;
}

.logo-icon {
  position: absolute;
  z-index: 1;
  width: 41px;
  height: 24px;
  background-image: url(../images/logo-icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  right: 40px;
  bottom: 30px;
}

p.author {
  font-family: var(--monserratAlt);
  color: var(--darkBlack);
  font-weight: 600;
  font-style: normal;
  margin-top: 20px;
}

p.author + p {
  font-style: normal;
}

p.role {
  font-size: 14px;
}

.no-quote {
  display: none;
}

/*LG – large tablet port. and medium tablet land.*/
@media all and (min-width: 992px) and (min-height: 800px) and (orientation: portrait) {
  aside {
    display: flex;
  }
}
/*XL - large tablet in landscape*/
@media all and (min-width: 1200px) {
  aside {
    display: flex;
  }
}
