.onboarding-outerbox {
  font-family: var(--monserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--mainGrey);
  font-weight: 500;
  line-height: var(--mainLineHeigth);
  letter-spacing: var(--mainSpacing);
}

.onboarding-outerbox h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--monserratAlt);
  color: var(--mainBlack);
  letter-spacing: var(--desktopSpacing);
}

.onboarding-outerbox h1 {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 800;
  margin: var(--titleMargin);
}

.onboarding-outerbox h2 {
  font-size: 1.1rem;
  margin: var(--title2Margin);
}

.onboarding-innerbox p {
  font-size: 14px;
}

.onboarding-outerbox h1,
h2 {
  text-align: center;
}

.onboarding-outerbox footer p {
  font-size: 14px;
}

@media all and (min-width: 768px) {
  .onboarding-outerbox h1,
  h2 {
    text-align: left;
  }

  .onboarding-outerbox h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: var(--titleMargin);
  }

  .onboarding-outerbox h2 {
    font-size: 1.3rem;
    margin: var(--title2Margin);
  }

  .onboarding-outerbox article > p {
    display: block;
  }

  .onboarding-innerbox p {
    font-size: 16px;
  }

  footer p {
    font-size: 16px;
  }
}
