/* 
====== 
Variables 
======
*/
:root {
  --primaryColor: #35a0ee;
  --primaryColor50: #35a0ee1a;
  --primarydarkcolor: #2696e8;
  --mainWhite: #fff;
  --offWhite: #f6fbff;
  --mainWhite50: #ffffff80;
  --mainBlack: #0b1d2e;
  --mainGrey: #a4aeb4;
  --lightGrey: #d5d9dc;
  --mainBackground: #fff;
  --lightShadow: 0px 0px 20px #35a0ee40;
  --darkShadow: 4px 10px 5px 0px #00000080;

  --mainTransition: all 0.3s linear;

  --monserrat: 'Montserrat', sans-serif;
  --monserratAlt: 'Montserrat Alternates', sans-serif;
  --mainSpacing: 0.02rem;
  --mainLineHeigth: 1.5rem;

  --mainBorderRadius: 0.25rem;

  --maxWidth: 1440px;
  --maxHeight: 900px;

  --footerHeight: 130px;

  /*Responsive values*/
  --outerWit: 100vw;
  --innerWidth: auto;
  --sidebarWidth: auto;
  --sidebarPadding: 40px 4rem 50px 2rem;
  --innerPadding: 0 10%;
  --headerMarginTop: 0;
  --titleMargin: 4% 0 1%;
  --title2Margin: 1% 0 1%;
  --formMarginBottom: 10%;
}

@media all and (min-width: 800px) {
  :root {
    --headerMarginTop: 3%;
    --formMarginBottom: 6%;
  }
}

@media all and (min-width: 1440px) {
  :root {
    --outerWith: 1440px;
    --innerWidth: 924px;
    --sidebarWidth: 516px;
    --sidebarPadding: 40px 0 50px 73px;
    --innerPadding: 0 120px;
    --headerMarginTop: 40px;
    --titleMargin: 50px 0 1vh;
    --title2Margin: 25px 0 1vh;
    --formMarginBottom: 40px;
  }
}
/*Responsive values end*/
