/*
======
Variables
======
*/

/*Mockup values*/
:root {
  --primaryColor: #35a0ee;
  --primaryColor50: #35a0ee1a;
  --primaryDarkcolor: #2696e8;
  --primaryLightColor: #f6fbff;
  --mainWhite: #fff;
  --offWhite: #f7fbff;
  --mainWhite50: #ffffff80;
  --mainBlack: #0b1d2e;
  --darkBlack: #07111b;
  --naturalBlack: #031106;
  --mainGrey: #a4aeb4;
  --lightGrey: #d5d9dc;
  --naturalGrey: #dddddd;
  --mainBackground: #dce8ff;
  --mainBgModal: #dce8ffb4;
  --lightShadow: 0px 0px 20px rgba(53, 160, 238, 0.251);
  --darkShadow: 0px 8px 20px rgba(3, 17, 6, 0.03);

  --mainTransition: all 0.3s linear;

  --monserrat: 'Montserrat', sans-serif;
  --monserratAlt: 'Montserrat Alternates', sans-serif;
  --poppin: 'Poppins', sans-serif;
  --mainSpacing: 0.7px;
  --mainLineHeight: 24px;
  --mainTitleSize: 28px;
  --mainTitleLineHeight: 36px;
  --mainTitleWeight: 800;
  --title2Size: 21px;
  --title2LineHeight: 28px;
  --title2Weight: 700;
  --mainTextSize: 16px;
  --mainTextLineHeight: 22.5px;
  --mainTextWeight: 500;
  --mainTextInputSize: 21px;
  --mainTextInputLineHeight: 28px;
  --mainTextInputWeight: 600;

  --mainBorderRadius: 4px;
  /*Mockup values end*/

  /*Responsive main dimensions*/
  --outerWith: 100%;
  --outerMinWith: max-content;
  --outerMaxWidth: 1440px;
  --outerHeight: calc(
    100vh - var(--logoMobileHeight) - var(--progressMobileHeight)
  );
  --innerHeight: calc(
    100vh - var(--logoMobileHeight) - var(--progressMobileHeight)
  );
  --logoMobileHeight: 80px;
  --progressMobileHeight: 40px;
  --innerPadding: 2% 1%;
}

/*XS*/
@media all and (min-width: 360px) {
  :root {
    --outerMinWith: initial;
    --innerPadding: 3% 7% 5%;
  }
}

/*XS - Smartphones landscape*/
@media all and (min-width: 640px) {
  :root {
    --outerWith: 100vw;
    --outerHeight: 100%;
    --innerHeight: 100%;
    --sidebarHeight: 100%;
    --innerPadding: 1.5% 8% 7%;
  }
}

/*MD - large tablet port. and medium tablet land.*/
@media all and (min-width: 992px) and (min-height: 800px) and (orientation: portrait) {
  :root {
    --outerMinWith: initial;
    --outerColLeft: 42%;
    --outerHeight: 100vh;
    --innerHeight: 100vh;
    --sidebarHeight: 100vh;
    --innerPadding: 5% 4% 10%;
    --sidebarPadding: 8% 0 14% 7%;
  }
}

/*LG*/
@media all and (min-width: 1200px) {
  :root {
    --outerHeight: 100%;
    --innerHeight: 100%;
    --sidebarHeight: 100%;
    --outerMinHeight: 100vh;
    --innerMinHeight: 100vh;
    --sidebarMinHeight: 100vh;
    --outerColLeft: 516px;
    --innerPadding: 3% 3% 3% 7%;
    --sidebarPadding: 6% 0 7% 7%;
  }
}

/*XL*/
@media all and (min-width: 1440px) and (min-height: 900px) {
  :root {
    --outerHeight: 900px;
    --innerHeight: 100%;
    --sidebarHeight: 100%;
    --outerMinHeight: 100%;
    --innerMinHeight: 100%;
    --sidebarMinHeight: 100%;
    --outerColLeft: 516px;
    --innerPadding: 40px 150px 43px 116px;
    --sidebarPadding: 40px 0 50px 73px;
    --progressMargin: 100px 0 0;
  }
}
/*Responsive main dimensions end*/
