@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700;800&family=Montserrat:wght@500;600&display=swap');
/* 
====== 
Variables 
======
*/
:root {
  --mainWhite: #fff;
  --offWhite: #f6fbff;
  --mainWhite50: #ffffff80;
  --mainBlue: #35a0ee;
  --darkBlue: #2696e8;

  --mainBlack: #07111b;
  --mainGrey: #a4aeb4;
  --lightGrey: #d5d9dc;

  --mainBackground: #dce8ff;

  --mainTransition: all 0.3s linear;

  --mainSpacing: 0.02rem;

  --lightShadow: 0px 0px 20px rgba(53, 160, 238, 0.25);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

  --mainBorderRadius: 0.3rem;

  --maxWidth: 1440px;
  --maxHeight: 1900px;

  --mainPadding: 0 13%;

  --monserrat: 'Montserrat', sans-serif;
  --monserratAlt: 'Montserrat Alternates', sans-serif;

  --headerHeigth: 20%;
  --footerHeight: 10%;
}

/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--mainBackground);
  color: var(--mainGrey);
  font-weight: 500;
  letter-spacing: var(--mainSpacing);
  line-height: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--monserratAlt);

  letter-spacing: var(--mainSpacing);
}

.container {
  display: flex;
  background-color: red;
  height: 100vh;
  max-width: var(--maxWidth);
  max-height: var(--maxHeight);
  margin: 0 auto;
}

@media all and (min-width: 1600px) {
  .container {
    margin: 2% auto 0;
    width: 1600px;
    height: 900px;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: yellow;
  width: 100%;
}

aside {
  display: none;
  background: var(--mainBlue);
  width: 56%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--headerHeigth);
  padding: var(--mainPadding);
  background-color: green;
}

header .text-container {
  display: flex;
  justify-content: space-between;
  background-color: honeydew;
}

.header__step {
  text-transform: uppercase;
  font-weight: 600;
}

.header__help-container {
  background-color: rgb(230, 229, 173);
  display: flex;
  justify-content: space-between;
  width: 272px;
}

.header__help {
  display: flex;
  justify-content: space-between;
  width: 90px;
  color: var(--mainBlue);
  font-weight: 600;
  cursor: pointer;
}

.header__help svg {
  padding-top: 5%;
  font-size: 20px;
}

footer {
  height: var(--footerHeight);
  background-color: red;
}

.error {
  justify-content: center;
}

@media all and (min-width: 800px) {
  aside {
    display: block;
  }
  header {
    height: 10%;
  }
}
